/*****************************/
/* HEADER */
/*****************************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secondary);
    height: 6rem;
    padding: 0 3em;
    position: relative;
}
.logo {
    height: var(--font-size-L);
}
/*****************************/
/* NAVIGATION SECTION */
/*****************************/
.main-nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.main-nav__link:link,
.main-nav__link:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--color-grey-1);
    font-size: var(--font-size-L);
    font-weight: var(--font-weight-medium);
    transition: all 0.3s;
}
.main-nav__link:hover,
.main-nav__link:active {
    color: var(--color-primary-dark);
}
.main-nav__link.nav-cta:link,
.main-nav__link.nav-cta:visited {
    padding: 0.75rem var(--font-size-XXL);
    border-radius: 8px;
    color: var(--color-white-1);
    background-color: var(--color-primary);
}
.main-nav__link.nav-cta:hover,
.main-nav__link.nav-cta:active {
    background-color: var(--color-primary-dark);
}

/* MOBILE */
.mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}
.mobile-nav__icon {
    height: 3rem;
    width: 3rem;
    color: var(--color-grey-1);
}

.mobile-nav__icon[name="close-outline"] {
    display: none;
}
/*****************************/
/* HERO SECTION */
/*****************************/
.section-hero {
    background-color: var(--color-secondary);
    padding: 3em 0 6em 0;
}
.hero {
    max-width: 81.25rem;
    margin: 0 auto;
    padding: 0 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    align-items: center;
}
.hero-image {
    width: 100%;
}

.hero__description {
    font-size: var(--font-size-XL);
    line-height: 1.5;
    margin-bottom: 3em;
}

.delivered-meals {
    display: flex;
    align-items: center;
    gap: var(--font-size-M);
    margin-top: 5em;
}
.delivered-meals__imgs {
    display: flex;
}
.delivered-meals__imgs picture {
    margin-right: -1em;
}
.delivered-meals__imgs picture img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 3px solid var(--color-secondary);
}

.delivered-meals__text {
    margin-left: 1em;
    font-size: var(--font-size-L);
    font-weight: var(--font-weight-medium);
}
.delivered-meals__text span {
    color: var(--color-primary-dark);
    font-weight: var(--font-weight-bold);
}
/*****************************/
/* FEATURED IN*/
/*****************************/
.section-featured-in {
    padding: 2.5em 0;
}
.featured-in__heading {
    font-size: var(--font-size-M);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 1.53em;
    font-weight: var(--font-weight-semibold);
    color: var(--color-grey-5);
}
.featured-in__logos {
    display: flex;
    justify-content: space-around;
}
.featured-in__logos img {
    height: 2rem;
    filter: contrast(0%);
    transition: all 0.3s;
}
.featured-in__logos img:hover {
    filter: none;
}

/*****************************/
/* HOW IT WORKS SECTION */
/*****************************/
.section-how {
    padding: 4rem 0;
}
.how-it-works__step-number {
    font-size: 8.6rem;
    font-weight: var(--font-weight-semibold);
    color: var(--color-white-2);
    margin-bottom: 1.2rem;
}
.how-it-works__step-description {
    font-size: var(--font-size-L);
    line-height: 1.8;
}

.how-it-works__step-img-box picture {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-it-works__step-img-box picture::before,
.how-it-works__step-img-box picture::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how-it-works__step-img-box picture::before {
    width: 60%;
    padding-bottom: 60%;
    background-color: var(--color-secondary);
    z-index: -2;
}

.how-it-works__step-img-box picture::after {
    width: 45%;
    padding-bottom: 45%;
    background-color: var(--color-secondary-dark);
    z-index: -1;
}
.how-it-works__step-img {
    width: 35%;
}
/*****************************/
/* MEALS SECTION */
/*****************************/
.section-meals {
    padding: 5em 0;
}
.meal {
    box-shadow: 0 var(--font-size-XXL) 3rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.3s;
}

.meal:hover {
    transform: translateY(-0.8rem);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.055);
}
.meal__content {
    padding: 2em 3em 3em 3em;
}
.meal__tags {
    margin-bottom: 0.753em;
    display: flex;
    gap: 0.25rem;
}
.tag {
    display: inline-block;
    padding: 0.25em 0.5em;
    text-transform: uppercase;
    font-size: var(--font-size-S);
    color: var(--color-grey-1);
    border-radius: 100px;
    font-weight: var(--font-weight-semibold);
}
.tag--vegetarian {
    background-color: var(--color-tag-1);
}
.tag--vegan {
    background-color: var(--color-tag-2);
}
.tag--paleo {
    background-color: var(--color-tag-3);
}
.meal__img {
    width: 100%;
}
.meal__title {
    font-size: var(--font-size-XXL);
    color: var(--color-grey-1);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 1rem;
}
.meal__attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--font-size-M);
}
.meal__icon {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--color-primary);
}
.meal__attribute {
    display: flex;
    gap: var(--font-size-M);
    align-items: center;
    font-size: var(--font-size-L);
}

.all-recipes {
    text-align: center;
    font-size: var(--font-size-L);
}
/*****************************/
/* TESTIMONIALS SECTION */
/*****************************/
.section-testimonials {
    background-color: var(--color-secondary-dark);
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}
.testimonials-container {
    padding: 6em;
}
.testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    row-gap: 3rem;
}
.testimonial__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-bottom: 0.75rem;
}
.testimonial__text {
    font-size: var(--font-size-L);
    line-height: 1.8;
    margin-bottom: 1rem;
}
.testimonial__name {
    font-size: var(--font-size-M);
    color: var(--color-grey-5);
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1em;
}
.gallery__item {
    overflow: hidden;
}
.gallery__img {
    width: 100%;
    display: block;
    transition: all 0.2s;
}
.gallery__img:hover,
.gallery__img:active {
    transform: scale(1.05);
}